<h4>Name:</h4>
 <p><%= product.name%></p>
 <h4>Description:</h4>
 <p><%= product.description%></p>
 <h4>Quantity:</h4>
 <p><%= item.quantity%></p>
 <h4>Price:</h4>
 <p><%= humanized_money_with_symbol item.total_price_cents / 100.00%></p>