<h1>Listing Categories</h1>
 
<table>
  <tr>
    <th>Category</th>
    <th></th>
  </tr>
 
  <% @category.each do |c| %>
    <tr>
      <td><%= c.name %></td>
    </tr>
  <% end %>

  
    <%= link_to '+ New Category', new_admin_category_path, class: 'btn btn-info' %>
  

</table>