<h1>Listing Categories</h1>
 
<table>
  <tr>
    <th>Category</th>
    <th></th>
  </tr>
 
  <table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @category %>
  </tbody>
</table>
  
    <%= link_to '+ New Category', new_admin_category_path, class: 'btn btn-info' %>
  

</table>